body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 400;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 45px;
  max-width: 1308px;
  margin: 0 auto;
}

.nav a {
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__list {
  display: flex;
}

.nav__list__item {
  margin: 0 66px 0 0;
}

.nav__list__item:last-child {
  margin: 0;
}

/* End Header-------------------------------------- */

.hero-section {
  height: 100vh;
  background: url(./images/jeshoots-com-pUAM5hPaCRI-unsplash.jpg) no-repeat
    center center;
  background-size: cover;
}

.hero {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.54);
}

.hero__description,
.hero__title {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 56px;
}

.hero__title {
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  text-transform: uppercase;
  padding-top: 249px;
}

.hero__description {
  font-size: 25px;
  line-height: 30px;
  max-width: 984px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.button {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 22px 45px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.hero__buttons {
  display: flex;
  justify-content: center;
}

.hero-button {
  color: #ffffff;
  background-color: transparent;
  border: 5px solid #ffffff;
  margin: 0 48px 0 0;
}

.hero-button:last-child {
  margin: 0;
}

.hero-button:hover {
  color: #000000;
  background: #ffffff;
}

/* End Hero-section------------------ */

.service-section {
  background: #ffffff;
  padding: 163px 0 492px 0;
}

.service-title,
.service-item {
  text-align: center;
}

.service-title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  margin: 0 0 164px 0;
}

.service-container {
  max-width: 1308px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.service-item {
  max-width: 347px;
  border: 3px solid #000000;
  padding: 60px 0 62px 0;
}

.service-item__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin: 0 0 27px 0;
}

.service-item__description {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  margin: 0 0 77px 0;
}

.service-button {
  background: transparent;
  color: #000000;
  border: 5px solid #000000;
}

.service-button:hover {
  color: #ffffff;
  background: #000000;
}

/* End Service-section------------------ */

.footer {
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 63px 53px 69px;
}

.copy {
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.social-media {
  display: flex;
}

.social-media__item a {
  display: block;
  width: 29px;
  height: 29px;
}

.social-media__item {
  cursor: pointer;
  margin: 0 47px 0 0;
}

.social-media__item:last-child {
  margin: 0;
}
