.header{
    background: rgba(0, 0, 0, 0.45);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 45px;
    max-width: 1308px;
    margin: 0 auto;
}

.nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__list{
    display: flex;
}

.nav__list__item{
    margin: 0 66px 0 0;
}

.nav__list__item:last-child{
    margin: 0;
}